* {
  padding: 0;
  margin: 0px;
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  border: none;
  border-bottom: 0.5px solid gray;
  line-height: 22px;
  font-size: 15px;
}

input::placeholder,
textarea::placeholder {
  font-size: 15px;
  color: gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.button {
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout {
  background-color: tomato;
}

.login {
  margin-right:5px;
  background-color: teal;
}

.register {
  background-color: slateblue;
}

.buttons,
.logout {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (max-width: 1000px) {
  .buttons {
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    margin:auto;
  }
  .logout{
    max-height:30px;
    top:90%;
    right: calc((100% - 60.48px)/ 2);
  }
}
